@font-face {
  font-family: "Pixellari";
  src: url(../fonts/Pixellari.ttf) format("truetype");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  font-family: "Pixellari", sans-serif;
}

.div {
  width: calc(100vw / 3);
  height: 100vh;
}

main {
  display: flex;
  flex-direction: row;
}

.divImagemCentral img {
  width: 100%;
}
